.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  
  padding: 14px 0;

  border-radius: 3px;

  background-color: #000;

  transition: transform 80ms ease-in;

  &:active {
    transform: translateY(4px);
  }
}

.logo {
  width: 48.72px;
  height: auto;
}